@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    text-align: center;
    letter-spacing: 0.1em;
    font-family: --font-archivo, sans-serif;
    color: rgb(170,245,1);
    background-color: black;
}

iframe {
    width: fit-content;;
    margin: auto;
    height: fit-content;
}

h1 {
    font-stretch: expanded;
    font-weight: 600;
    text-transform: uppercase;
}




